body {
}
.container {
    margin: 0 auto;
    height: 800px;
    width: 700px;
    background-color: red;
}
.container h1{
    padding: 10px;
    text-align: center;
}
.video {
    margin: 20px auto;
    background-color: black;
    height: 480px;
    width:640px;
}
.controls{
    width: 50%;
    margin: 0 auto;
}
.controls *{
    display: inline-block;
    margin:0 auto;
}