<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href='/static/style.css'/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>




</head>
<body>

<div class="container">
    <h1>Hello from a template!</h1>
    <div class="controls">
        <a id="startStop" href="/startStop/start" class="btn btn-block btn-lg btn-default" role="button">Turn off</a>
        <!--a id="picture" href="/toggle" class="btn btn-block btn-lg btn-default" role="button">Toggle</a-->
        <a id="picture" href="/picture" class="btn btn-block btn-lg btn-default" role="button">Picture</a>
        <!--button id="save" class="btn btn-block btn-lg btn-default">Save picture</button-->

    </div>
    <img src="{{ url_for('video_feed') }}" class="video">

</div>

</body>
<script>
        var clicked = false;
        document.getElementById('startStop').onclick = function () {
            if (clicked) {
                document.getElementById('startStop').innerHTML ='Turn off'
            }else{
                document.getElementById('startStop').innerHTML ='Turn on'
            }
            clicked = !clicked
        }
        /*$('#startStop').click(function () {
            if (clicked) {
                $( this ).html('Turn off')
                $( this ).attr('href','/')
            }else{
                $(this).html('Turn on')
            }
            clicked = !clicked
        })*/
    </script>
</html>