<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<img src="{{ iimage }}" >
<button id="back">Back</button>
<button id="next">Take next picture</button>
<script>
    $('#back').click(function () {
        window.location.replace("/");
    })
    $('#next').click(function () {
        location.reload()
    })
</script>
